<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">

<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{student.name}}
        </mat-panel-title>
        <mat-panel-description>
        <span  [ngClass]="[student.result=='Does not fall off' ? 'green' : 'red']">{{student.result}}</span>

        </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
         
      </mat-expansion-panel-header>
      <p><b>mathematics: </b> {{student.mathematics}}</p>
      <p><b>psychometric: </b> {{student.psychometric}}</p>
      <p><b>payment: </b> {{student.payment}}</p>
      <p><b>User Email: </b>{{student.email}}</p>

    </mat-expansion-panel>
  </mat-accordion>

</div>